-----BEGIN CERTIFICATE-----
MIIDkDCCAngCCQCsjYMiZNcrEjANBgkqhkiG9w0BAQUFADCBiTELMAkGA1UEBhMC
a3IxDjAMBgNVBAgTBXNlb3VsMQ4wDAYDVQQHEwVzZW91bDEQMA4GA1UEChMHZ2Ft
Z29vbjEMMAoGA1UECxMDZGV2MRgwFgYDVQQDEw9kZXYuZ2FtZ29vbi5jb20xIDAe
BgkqhkiG9w0BCQEWEWdhbWdvb25AZ21haWwuY29tMB4XDTE1MTIyMjE0NDI1MloX
DTE2MTIxMjE0NDI1MlowgYkxCzAJBgNVBAYTAmtyMQ4wDAYDVQQIEwVzZW91bDEO
MAwGA1UEBxMFc2VvdWwxEDAOBgNVBAoTB2dhbWdvb24xDDAKBgNVBAsTA2RldjEY
MBYGA1UEAxMPZGV2LmdhbWdvb24uY29tMSAwHgYJKoZIhvcNAQkBFhFnYW1nb29u
QGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANgIM6zH
XtX2QpoZSi23ZIT/y9RDsoBFEquFD2GLcBxQCubCUte9mW1pN+Jqd4XI8EYAIIKa
N6PqOQZbTYNeOHFVHBAo7p5OFoNJHBNQkLuBmvTpmKQjlRLy3Ae4Tsr1RWxymTkQ
yOn6J3FQ2GgzaWSphAyOu9noy0rrNNmyW2/ZdzJBHvzzlZoEs+NMdWP+WuzE52UO
APGjv/ZHzBp0mptnE91asajU585WKjGe4sj7I1K+oHAnKXbXCyhdKHDB87ppN0ZY
yT5eiQ+gmYwtUMIj/VRFMzMHHQnXNwrZVzDf9R9E0BKH/4BulxuQuHSiDKPKP0GH
N9aVA0UFUwK/ytUCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAxbnp+D9ORaCMRc0N
qQ7D0yhAPNbwymCFdY6+NE6fu2hd7T8nRARKlpozvXawI+2N1F/SLogMGzafJ2Sh
7ysgK+ets3yA5Qn4DUYSrcVkA2h1YVfziQYcr7pcRU0yqDUmhhBhqLbAWIm4KpML
bYfTQ33s2RYH0S3GpwcEqj5fGsZLJHDiHnb0azbPt6Vlcd6sU8Wtb5MrZ2QcL1E6
d4U/qqcGiomo8mnvYXsHjGOIzBczYCEbS59TLCQ0/C/WNVBC9xTDWXfwKMQwxL4A
cxrMDfgWpj5PM+uv0WiVRr2iBLuZBeZDVnEHbbihwPrdzYo/Xgbx4nTM3JVoyj2t
ug6XRA==
-----END CERTIFICATE-----
